**/__pycache__
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.vscode
**/db.sqlite3
**/venv
**/node_modules
**/npm-debug.log
Dockerfile
docker-compose.yml
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
.git
.gitignore
.vscode
